.about {
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    background-image: url(".././img/polygon-about-center.svg");
    background-repeat: no-repeat;
    width: 636px;
    height: 715px;
    top: 147px;
    left: 29.1%;
    -webkit-animation: rotation-left 30s linear infinite;
    animation: rotation-left 30s linear infinite;

    @media (max-width: $tablet-max-width) {
      top: 90px;
      left: 27.4%;
    }

    @media (max-width: $mobile-max-width) {
      left: -37.6%;
      bottom: 389px;
      top: unset;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      position: absolute;
      content: "";
      background-image: url(".././img/polygon-about-left.svg");
      background-repeat: no-repeat;
      width: 636px;
      height: 715px;
      top: 445px;
      right: 82.3%;
      z-index: -1;
      -webkit-animation: rotation-right 30s linear infinite;
      animation: rotation-right 30s linear infinite;
    }
  }
}
