.button {
  flex-basis: 180px;
  height: 45px;
  border-radius: 5px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--contacts {
  color: $basic-white;
  background: none;
  border: 1px solid $basic-white;
  margin-bottom: 3px;
  min-width: 180px;

  &:hover,
  &:focus {
    background-color: $basic-accent;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.button--intro {
  color: $basic-white;
  flex-basis: 407px;
  height: 55px;
  background-color: $basic-accent;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-left: 98px;

  &:hover,
  &:focus {
    background-color: $basic-white;
    color: $basic-accent;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $tablet-max-width) {
    margin-left: 110px;
  }

  @media (max-width: $mobile-max-width) {
    margin-left: 3px;
  }
}

.button--intro span:first-child {
  display: block;

  @media (max-width: $mobile-max-width) {
    display: none;
  }
}

.button--intro span:last-child {
  display: none;

  @media (max-width: $mobile-max-width) {
    display: block;
  }
}

.button--company {
  flex-basis: 180px;
  height: 45px;
  border: 1px solid $basic-accent;
  color: $basic-accent;
  border-radius: 5px;

  &:hover,
  &:focus {
    color: $basic-white;
    background-color: $basic-accent;
  }

  &:active {
    opacity: 0.8;
  }

  @media (max-width: $tablet-max-width) {
    margin-left: 2px;
  }
}

.button--feedback {
  flex-basis: 270px;
  height: 45px;
  border: 1px solid $basic-white;
  color: $basic-white;
  background-color: $basic-accent;
  border-radius: 5px;
  z-index: 1;

  @media (max-width: $tablet-max-width) {
    flex-basis: 280px;
    height: 47px;
  }

  @media (max-width: $mobile-max-width) {
    flex-basis: 290px;
    margin-bottom: 27px;
  }

  &:hover,
  &:focus {
    color: $basic-accent;
    background-color: $basic-white;
  }

  &:active {
    opacity: 0.8;
  }
}

.button--modal {
  flex-basis: 270px;
  height: 47px;
  border: 1px solid $basic-white;
  color: $basic-white;
  background-color: $basic-accent;
  border-radius: 5px;
  z-index: 1;
  flex-grow: 1;

  @media (max-width: $tablet-max-width) {
    flex-basis: 280px;
    height: 47px;
  }

  @media (max-width: $mobile-max-width) {
    flex-basis: 290px;
  }

  &:hover,
  &:focus {
    color: $basic-accent;
    background-color: $basic-white;
  }

  &:active {
    opacity: 0.8;
  }
}
