.company {
  max-width: 1210px;
  padding: 24px 25px 107px 200px;
  position: relative;
  margin: 0 auto;
  min-height: 341px;
  display: flex;
  flex-wrap: wrap;

  & span:last-child {
    display: none;
  }

  @media (max-width: $tablet-max-width) {
    padding-left: 210px;
    padding-top: 28px;
    padding-bottom: 82px;
    min-height: 385px;

    & span:first-child {
      display: none;
    }

    & span:last-child {
      display: inline;
    }
  }

  @media (max-width: $mobile-max-width) {
    padding: 21px 15px 65px 14px;
  }

  &:before {
    position: absolute;
    content: "";
    background-image: url("../../img/numbers-desktop.png");
    width: 220px;
    height: 317px;
    top: 29px;
    left: -10px;

    @media (max-width: $tablet-max-width) {
      background-image: url("../../img/numbers-tablet.png");
      width: 251px;
      height: 361px;
      top: 25px;
      left: 0px;
    }

    @media (max-width: $mobile-max-width) {
      display: none;
    }
  }
}

.company h2 {
  font-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin: 0 0 21px 0;

  @media (max-width: $tablet-max-width) {
    font-size: 32px;
    line-height: 140.62%;
    margin-bottom: 23px;
  }

  @media (max-width: $mobile-max-width) {
    font-size: 28px;
    line-height: 140.62%;
    margin-bottom: 19px;
  }
}

.company p {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 20px 0;

  @media (max-width: $tablet-max-width) {
    padding-left: 3px;
  }

  @media (max-width: $mobile-max-width) {
      margin-bottom: 40px;
  }

  &:last-of-type {
    margin-bottom: 42px;

    @media (max-width: $mobile-max-width) {
      margin-bottom: 29px;
    }
  }
}
