.info {
  display: flex;
  padding: 16px 26px 14px 21px;

  @media (max-width: $tablet-max-width) {
    padding-left: 27px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 28px 21px 14px 21px;
  }
}

.info__list {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: rgba($basic-black, 0.5);
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: $mobile-max-width) {

  .info__item {
    margin-bottom: 21px;
  }
}

.info__item--rights {
  margin-right: 5.307%;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.info__item--copyright {
  margin-right: 9.9231%;

  @media (max-width: $tablet-max-width) {
    margin-right: 0;
    position: absolute;
    top: 81px;
    right: 209px;
  }

  @media (max-width: $mobile-max-width) {
    top: 140px;
    right: calc(50vw - 117px);
  }
}

.info__item--credits {
  margin-left: auto;

  @media (max-width: $mobile-max-width) {
    margin-left: unset;
  }
}
