.intro {
  background-color: $basic-black;
  overflow: hidden;
}

.intro__wrapper {
  margin: 0 auto;
  max-width: 1480px;
  padding: 0 29px;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    background-image: url("../../img/plata-desktop.png");
    width: 705px;
    height: 515px;
    top: 138px;
    left: 55.25%;
    z-index: 1;

    @media (max-width: $tablet-max-width) {
      background-image: url("../../img/plata-tablet.png");
      width: 465px;
      height: 340px;
      background-repeat: no-repeat;
    }
  }
}

.intro__content {
  max-width: 55%;
  padding-top: 194px;
  padding-bottom: 275px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;

  &:before {
    position: absolute;
    content: "";
    background-image: url("../../img/polygon-header-small.svg");
    width: 373px;
    height: 377px;
    top: 262px;
    left: 99.8%;
  }

  &:after {
    position: absolute;
    content: "";
    background-image: url("../../img/polygon-header-big.svg");
    width: 636px;
    height: 640px;
    top: -2px;
    left: 104.2%;
  }
}

.intro__content h1 {
  margin: 0 0 29px 0;
  padding: 0;
  font-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $basic-white;
}

.intro__content p {
  position: relative;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: $basic-white;
  padding: 0 0 0 98px;
  margin: 0 0 43px 0;

  &:before {
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    background-color: $basic-white;
    top: 16px;
    left: 4px;
  }
}
