.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  padding-top: 136px;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;

  display: none;

  background-color: transparentize($basic-black, 0.3);

  overflow-y: scroll;
  overflow-x: hidden;
}

.modal--show {
  display: flex;
}

.modal__wrapper {
  position: relative;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto auto auto;
  max-width: 490px;
  min-height: 605px;
  padding: 30px 39px 0 39px;
  flex-direction: column;
  background-color: $basic-accent;
}

.modal h2 {
  font-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 140.62%;
  color: $basic-white;
  margin: 0 0 12px 0;
  padding-right: 30px;
}

.modal p {
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;
  margin: 0 0 32px;
  padding-right: 47px;
}

.modal__form {
  position: relative;
}

.modal__list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 570px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  margin-bottom: 25px;
}

.modal__field {
  width: 100%;
  background-color: $basic-accent;
  z-index: 1;
}

.modal__field--question {
  width: 100%;
}

.modal__field input,
.modal__field textarea {
  background: rgba($basic-white, 0.1);
  width: 100%;
  padding: 12px 24px 18px 24px;
}

.modal__form input,
.modal__field textarea {
  color: $basic-white;
  font-size: 16px;
  line-height: 22px;
  border: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.modal__field input {

  &::-webkit-input-placeholder {
    color: $basic-white;
  }

  &:-ms-input-placeholder {
    color: $basic-white;
  }

  &::-moz-placeholder {
    color: $basic-white;
  }
}

.modal__field textarea {
  min-height: 104px;

  &::-webkit-input-placeholder {
    color: $basic-white;
  }

  &::-ms-input-placeholder {
    color: $basic-white;
  }

  &::-moz-placeholder {
    color: $basic-white;
  }
}

.modal__submit {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 31px;
  padding-bottom: 37px;
}

.modal__agreement {
  flex-basis: 272px;
  position: relative;
  flex-grow: 1;

  & label {
    font-size: 14px;
    line-height: 16px;
    color: rgba($basic-white, 0.8);
    padding-left: 48px;
    padding-right: 3px;
    padding-top: 3px;
    display: block;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.8;
    }
  }

  & input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  & span {
    position: absolute;
    left: 0;
    top: 4px;
    width: 16px;
    height: 16px;
    background-image: url(".././img/checkbox-unchecked.svg");
    background-repeat: no-repeat;
  }
}

.modal__input:checked + .modal__checkbox {
  background-image: url(".././img/checkbox-checked.svg");
  width: 16px;
  height: 16px;
}

.modal__input:focus + .modal__checkbox,
.modal__input:hover + .modal__checkbox {
  opacity: 0.5;
}

.modal__input:checked:focus + .modal__checkbox,
.modal__input:checked:hover + .modal__checkbox {
  opacity: 0.5;
}

.modal__input:active + .modal__checkbox {
  opacity: 0.8;
}

.modal__input:checked:active + .modal__checkbox {
  opacity: 0.8;
}

.modal__close {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  width: 17px;
  height: 17px;
  background-color: transparent;
  background-image: url(".././img/icon-cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
