.page-header {
  background-color: $basic-black;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    min-height: 879px;
    background-image: url(".././img/background-main-desktop.png");
    background-position: top center;
    background-size: cover;

    @media (max-width: $tablet-max-width) {
      background-image: url(".././img/background-main-tablet.png");
      min-height: 686px;
    }

    @media (max-width: $mobile-max-width) {
      min-height: 648px;
      background-image: url(".././img/background-main-mobile.png");
    }
  }
}

.page-header__wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1480px;
  margin: 0 auto;
  padding: 33px 36px 31px 33px;

  @media (max-width: $tablet-max-width) {
    padding: 20px 25px 4px 25px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 17px 15px 1px 17px;
  }
}

@media (max-width: $mobile-max-width) {
  .page-header__logo img {
    width: 38px;
    height: 38px;
  }
}
