.page-footer {
  flex-shrink: 0;
  position: relative;
}

.page-footer__wrapper {
  margin: 0 auto;
  max-width: 1460px;
  padding: 65px 26px 55px 22px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-max-width) and (min-width: $tablet-width) {
    padding: 19px 23px 42px 25px;
    flex-wrap: wrap;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100vw;
      height: 1px;
      background-color: rgba(98, 105, 98, 0.2);
      bottom: 5px;
      left: 0;
    }
  }

  @media (max-width: $mobile-max-width) {
    padding: 46px 15px 0 15px;
    flex-direction: column;
  }
}

.page-footer__info {
  margin: 0 auto;
  max-width: 1460px;
}
