.services {
  background-color: $basic-black;
}

.services__wrapper {
  margin: 0 auto;
  max-width: 1210px;
  padding: 88px 20px 97px 20px;

  @media (max-width: $tablet-max-width) {
    padding: 50px 24px 33px 26px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 50px 15px 35px 15px;
  }
}

.services h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $basic-white;
  margin: 0 0 52px 0;

  @media (max-width: $tablet-max-width) {
    font-size: 32px;
    line-height: 140.62%;
    padding-right: 88px;
    margin: 0 0 49px 0;
  }

  @media (max-width: $mobile-max-width) {
    font-size: 28px;
    line-height: 140.62%;
    padding: 0 0 0 10px;
    margin: 0 0 41px 0;
  }
}

.services__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 0;
  margin: 0;

  @media (max-width: $tablet-max-width) {
    flex-direction: column;
    column-gap: unset;
  }
}

.services__item {
  width: 31.6%;
  height: 51.24vw;
  max-height: 620px;
  background-color: rgba($services-background, 0.5);
  margin-bottom: 30px;
  margin-right: 2.6%;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:hover {
    background-color: $basic-accent;
    transition-duration: 0.3s;
  }

  &--production {
    content: "";
    background-image: url(".././img/production-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url(".././img/production-desktop@2x.png");
    }
  }

  &--assembling {
    content: "";
    background-image: url(".././img/assembling-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url(".././img/assembling-desktop@2x.png");
    }
  }

  &--components {
    content: "";
    background-image: url(".././img/components-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url(".././img/components-desktop@2x.png");
    }
  }

  @media (max-width: $tablet-max-width) {
    width: 100%;
    height: 256px;
    margin-bottom: 46px;
    margin-right: 0;

    &--production {
      background-image: url(".././img/production-tablet.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url(".././img/production-tablet@2x.png");
      }
    }

    &--assembling {
      background-image: url(".././img/assembling-tablet.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url(".././img/assembling-tablet@2x.png");
      }
    }

    &--components {
      background-image: url(".././img/components-tablet.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url(".././img/components-tablet@2x.png");
      }
    }
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 30px;

    &--production {
      background-image: url(".././img/production-mobile.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url(".././img/production-mobile@2x.png");
      }
    }

    &--assembling {
      background-image: url(".././img/assembling-mobile.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url(".././img/assembling-mobile@2x.png");
      }
    }

    &--components {
      background-image: url(".././img/components-mobile.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url(".././img/components-mobile@2x.png");
      }
    }
  }
}

.services__item a {
  display: block;
  padding: 50px 0 0 44px;
  position: relative;
  width: 100%;
  height: 100%;

  @media (max-width: $tablet-max-width) {
    padding: 40px 0 0 45px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 20px 0 0 35px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 63px;
    height: 63px;
    background-image: url(".././img/icon-arrow.svg");
    background-color: $basic-accent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    bottom: 0;
    right: 0;
  }
}

.services__item h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: $basic-white;
  margin: 0;
  padding-right: 153px;

  @media (max-width: $tablet-max-width) {
    padding-right: 502px;
  }

  @media (max-width: $mobile-max-width) {
    padding-right: 82px;
  }
}

.services__item--components a {
  @media (max-width: $tablet-max-width) {
    padding-top: 50px;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 30px;
  }
}
