.social {
  flex-basis: 422px;

  @media (max-width: $tablet-max-width) {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    margin-bottom: 59px;
  }

  @media (max-width: $mobile-max-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 51px;
    flex-direction: column;
    align-items: center;
  }
}

.social__logo {
  margin-bottom: 50px;
  display: block;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 0;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 77px;
    padding-right: 14px;
  }
}

.social__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-max-width) {
    align-items: center;
  }
}

.social__item {
  margin-right: 16px;

  &:hover,
  &:focus {
    & svg {
      filter: $basic-accent-filter;
    }
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $tablet-max-width) {
    &:last-child {
      margin-right: 0;
    }
  }
}
