// ----- Colors
$basic-black: #1b2d37;
$basic-white: #ffffff;
$basic-white-filter: invert(100%) sepia(100%) saturate(20%) hue-rotate(238deg) brightness(2) contrast(100%);
$basic-grey: #666666;
$basic-accent: #00b2ff;
$basic-accent-filter: invert(57%) sepia(38%) saturate(6648%) hue-rotate(171deg) brightness(106%) contrast(107%);
$social-icons-grey: #cdcdcd;
$footer-bar-grey: #626962;
$advantages-border: #ebebeb;
$services-background: #24343d;

// ----- Adaptive
$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-width: 768px;
$tablet-max-width: 1023px;
$desktop-width: 1024px;

// ----- Retina
// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// ----- Spin

@keyframes rotation-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotation-left {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
