// ----- Colors
$basic-black: #1B2D37;
$basic-white: #FFFFFF;
$basic-grey: #666666;
$basic-accent: #00B2FF;
$social-icons-grey: #CDCDCD;
$footer-bar-grey: #626962;

// ----- Adaptive
$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-width: 768px;
$tablet-max-width: 1023px;
$desktop-width: 1024px;
