// ----- Colors
$basic-black: #1b2d37;
$basic-white: #ffffff;
$basic-grey: #666666;
$basic-accent: #00b2ff;
$social-icons-grey: #cdcdcd;
$footer-bar-grey: #626962;
$advantages-border: #ebebeb;
$services-background: #24343d;

// ----- Adaptive
$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-width: 768px;
$tablet-max-width: 1023px;
$desktop-width: 1024px;

// ----- Retina
// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
